section {
  @include outer-container;
  margin-top: 4em;
  margin-bottom: 3em;
  aside { @include span-columns(3); }
  article { @include span-columns(9); @include omega(); }
}

#ralnc_map {
  width: 100%;
  height: 30vh;
}
